@import '../styles/global';

.title {
    color: rgb(52, 137, 235);
    font-family: "Fugaz One";
    font-size: 2.2rem;
    text-align: center;
}

.dateWrapper {
    display: flex;
    flex-direction: row;
    margin: 15px 0 18px;
    color: $primaryColor;
    align-items: center;

    .dateIcon {
        margin-right: 8px;
        font-size: 1.4rem;
    }

    .date {
        font-family: $serifFont;
        font-size: 1.2rem;
        margin: 0;
    }
}

.blogPostContent {
    font-family: $serifFont;
    font-size: 1.4rem;
    line-height: 1.6em;
}