@import '../styles/global';

.title {
    color: rgb(52, 137, 235);
    font-family: "Fugaz One";
    font-size: 2.2rem;
    text-align: center;
    text-shadow: 3px 3px 3px #aaa;
    margin: 25px auto;
}

.dateWrapper {
    display: flex;
    flex-direction: row;
    margin: 15px 0 18px;
    color: $primaryColor;
    align-items: center;

    .dateIcon {
        margin-right: 8px;
        font-size: 1.4rem;
        color: $secondaryColor;
    }

    .date {
        font-family: $serifFont;
        font-size: 1.2rem;
        margin: 0;
    }
}

.blogPostContent {
    font-family: $serifFont;
    font-size: 1.4rem;
    line-height: 1.6em;

    figure {
        padding: 10px;
        background-color: rgb(233, 233, 233);
    }

    figcaption {
        font-size: 14px;
        font-style: italic;
        color: rgb(88, 88, 88);
        line-height: 18px;
        margin-top: 8px;
    }
}

.twitter-tweet {
    background-color: red;
    max-width: 70%;
    margin: 10px auto;
    padding: 15px;
}