@import '../styles/global';

.title {
    color: rgb(52, 137, 235);
    font-family: $allCaps;
    font-size: 2.2rem;
    text-align: center;
}

.date {
    font-family: $serifFont;
    font-size: 1.2rem;
}

.blogPostContent {
    font-family: $serifFont;
    font-size: 1.4rem;
    line-height: 1.6em;
}