@import '../../styles/global';

.pageHeading {
    font-family: $allCaps;
    color: $primaryColor;
    margin-bottom: 5px;
}

.headingCopy {
    font-family: $serifFont;

    p {
        margin: 5px 0;
    }
}

.postsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}