$primaryColor: rgb(52, 137, 235);

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Luckiest+Guy&family=Satisfy&family=Zilla+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Font families
$allCaps: 'Luckiest Guy', Helvetica, sans-serif;
$handWriting: 'Satisfy', 'Times New Roman', Times, serif;
$boldHeadings: 'Fugaz One', Helvetica, sans-serif;
$serifFont: 'Zilla Slab', 'Times New Roman', Times, serif;