$primaryColor: rgb(52, 137, 235);

// Font families
$allCaps: 'Luckiest Guy', Helvetica, sans-serif;
$handWriting: 'Satisfy', 'Times New Roman', Times, serif;
$boldHeadings: 'Fugaz One', Helvetica, sans-serif;
$serifFont: 'Zilla Slab', 'Times New Roman', Times, serif;